.award-container1 {
    background-color:#ffffff; /* Light background color */
    text-align: center; /* Center the content */
    margin: 10px 0; /* Margin for spacing */
    padding: 10px; /* Padding for inner spacing */
  }
  
  .award-heading1 {
    font-size: 25px; /* Adjust font size */
    font-weight: bold; /* Bold text */
    margin-bottom: 20px; /* Space between heading and images */
    padding-top: 20px; /* Space on top of the heading */
  }
  
  .logo-organization1 {
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center logos */
    gap: 100px; /* Space between logos */
    flex-wrap: wrap; /* Wrap logos on smaller screens */
  }
  
  .logo-organization1 img  {
    max-height: 70px; /* Limit image height */
    object-fit: contain; /* Maintain aspect ratio */
    padding-bottom: 15px; /* Space below each image */
  }
  